:root {
    --c1: #05668d;
    --c2: #f7f7ff;
    --c3: #028090;
    --c4: #00a896;
    --c5: #02c39a;
}
body {
    height: 100%;
}
input[type=text],
input[type=number],
select {
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid #000;
}
    input[type=text]:focus-visible,
    input[type=number]:focus-visible,
    select:focus-visible {
        outline: 0;
        border-bottom: 1px solid #000;
    }
.cursor-pointer {
    cursor: pointer;
}
.imgRounded {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    transition: 0.2s;
}
@media(max-width: 1400px) {
    .imgRounded {
        height: 250px !important;
        width: 250px !important;
    }
}
@media(max-width: 992px) {
    .imgRounded {
        height: 200px !important;
        width: 200px !important;
    }
}
@media(max-width: 768px) {
    .imgRounded {
        height: 220px !important;
        width: 220px !important;
    }
}